/**
	* 滚动条优化
	*/
// 整个滚动条
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f7f7f7;
}

// 滚动条上的按钮 (上下箭头)
::-webkit-scrollbar-button {
  display: none;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}

// 滚动条上的滚动滑块
::-webkit-scrollbar-thumb {
  border-radius: 7px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ddd;
}

// 滚动条轨道
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  font-family: PingFang SC, STHeitiSC, Helvetica, arial, sans-serif;
}

main {
  display: block;
}

.e-container {
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 4px;
}

// wangEditor 重置全局样式
.we-content {
  table {
    border-collapse: collapse;
    tr > th {
      background-color: #f5f2f0;
      font-weight: 700;
      text-align: center;
    }
    tr > td {
      text-align: left;
    }
    tr > th, tr > td {
      border: 1px solid #ccc !important;
      line-height: 1.5;
      min-width: 30px;
      padding: 3px 5px;
    }
  }
}

// 题目 label
.component-label {
  width: 44px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #f1f3f8;
  font-size: 12px;
  color: #656577;
  margin-right: 16px;
  position: relative;
  top: 10px;
}