$color-danger: #e94b2c; // 用于警示、标签
$color-success: #10bf73; // 局部高亮色
$color-warn: #ffa42d; // 用于色彩搭配以及少数图形色
// 顶部菜单高度
$top-menu-height: 50px;
// 公共间隔
$common-padding: 20px;

// 单行文本截取
// @include singleline-ellipsis()
@mixin singleline-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// transition
@mixin default-transition($prop) {
  transition: $prop 0.3s ease-out;
}
